body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    min-height: 100vh;
    /* Permite que a página cresça para rolagem */
}

.top-bar {
    height: 30px;
    background-color: #007d34;
}

h1 {
    text-align: center;
    margin-top: 40px;
    font-size: 2em;
    font-weight: bold;
}

.verde {
    color: #007d34;
}

.amarelo {
    color: #f0ad00;
}

.cards-container {
    display: flex;
    flex-direction: column;
    /* Alinha os cards em uma coluna, um abaixo do outro */
    align-items: center;
    /* Centraliza os cards horizontalmente */
    gap: 20px;
    /* Espaçamento entre os cards */
    padding: 20px;
    max-width: 1200px;
    /* Limita a largura máxima para centralizar */
    margin: 0 auto;
}

.card {
    width: 250px;
    background-color: #007d34;
    color: white;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.card .icon {
    font-size: 40px;
    background-color: #f0ad00;
    color: #007d34;
    width: 60px;
    height: 60px;
    margin: 0 auto 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.produto {
    font-weight: bold;
    margin: 10px 0 5px;
}

.contato {
    font-weight: bold;
    font-size: 0.9em;
}